.idea
.vscode
upload
*.exe
*.db
build
*.db-journal
logs
web/dist
web/nebula_llm_web
web/nebula_llm_web.zip
web/nebula_llm_web.zip-ssr
nebula_llm.zip
nebula_llm.zip-ssr
nebula_llm
.env
one-api
new-api
.DS_Store
tiktoken_cache
.eslintcache
.gocache

electron/node_modules
electron/dist